.navbar-brand {
    padding: 0px;
}

.navbar-brand>img {
    height: 100%;
    padding: 7px 15px;
    width: auto;
}

.navbar-brand {
    height: 80px;
}

.nav >li >a {
    font-weight: bold;
    padding-top: 33px;
    padding-bottom: 33px;
}

.nav >li.default >a:hover {
    color: #01B0AE;
}

.nav >li.actived >a:hover {
    color: snow;
}

.navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0;
}

.actived { 
    background-color: #01B0AE;
}

.default {
    background-color: snow;
}